.button-single {
  color: white;
  background-image: linear-gradient(#b09c7c, #8d7d63);
  width: 100px;
  border-radius: 15px 15px 15px 15px;
  border: none;
  padding: 5%;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
}

.button-single:hover {
  background-image: linear-gradient(white, white);
  transform: scale(1.1);
  color: black;
}

input {
  background-color: #f6eeeb;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
}

.weight {
  font-weight: 600;
}

.weight-ep {
  font-weight: 400;
}

.interligne {
  line-height: 63px;
}

.taille-h2 {
  font-size: 35px;
  font-family: "Dosis", sans-serif;
  font-weight: normal;
}

.taille-h3 {
  font-size: 25px;
}

.taille-h4 {
  font-size: 20px;
  font-style: italic;
}

.taille-texte {
  font-size: 25px;
}

.padding-bot-10 {
  padding-bottom: 10px;
}

.fond-blanc {
  background-color: white;
}

.padding-right {
  padding-right: 10px;
}

span {
  font-size: 21px;
}

.centre {
  width: 300px;
  height: 200px;
  border-radius: 15px 15px 15px 15px;
  margin-left: 175px;
}

.padding-top {
  padding-top: 40px;
}

td {
  padding: 30px;
  font-size: 20px;
}

.th,
td:hover {
  color: #8d7d63;
}

.pl {
  padding-left: 50px;
}

.tiret {
  font-size: 50px;
}

.line {
  border-top: 1px solid black;
}

.tailleiframeep {
  width: 1000px;
  height: 500px;
}

.tailleiframeflute {
  width: 1000px;
  height: 700px;
}
.tailleiframelive {
  width: 1000px;
  height: 500px;
}

.taille-article {
  width: 540px;
  height: 500px;
  margin: 10px;
  display: inline-block;
}
.taille-article-big {
  width: 1200px;
  height: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.taille-article:hover {
  opacity: 0.8;
}

.taille-article-big:hover {
  opacity: 0.8;
}

table {
  margin-left: 120px;
}

.taille-image-caroussel {
  height: 300px;
}

.padding-bot-5 {
  padding-bottom: 1px;
}

.block-contact-1 .tab-navigation {
  margin: 30px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.6;
}

.padding-right {
  padding-right: 20px;
}
@media screen and (min-width: 992) and (max-width: 1200px) {
  .taille-article-big {
    height: 1200px;
  }
}

@media screen and (min-width: 760px) and (max-width: 992px) {
  input {
    width: 35%;
  }
  .centre {
    margin-left: 10px;
    width: 200px;
    height: 100px;
  }

  .pl {
    padding-left: 20px;
  }
  .tailleiframeep {
    width: 700px;
    height: 500px;
  }
  .tailleiframeflute {
    width: 750px;
    height: 500px;
  }

  .tailleiframelive {
    width: 600px;
    height: 350px;
  }

  .taille-article {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
  }
  .padding-bot-40-tab {
    padding-bottom: 40px;
  }
  table {
    margin-left: 0px;
  }
  .padding-left {
    margin-left: 50px;
  }
  .taille-article-big {
    height: 990px;
  }
}
@media screen and (max-width: 760px) {
  input {
    width: 40%;
  }
  .centre {
    margin-left: 0px;
    width: 200px;
    height: 100px;
  }
  .pl {
    padding-left: 25px;
  }

  .display-mob {
    flex-wrap: nowrap;
  }
  .tailleiframeep {
    width: 337px;
    height: 230px;
  }
  .tailleiframeflute {
    width: 360px;
    height: 280px;
  }
  .tailleiframelive {
    width: 350px;
    height: 240px;
  }
  table,
  tr,
  td {
    display: inline-block;
    width: 100% !important;
  }
  .taille-article {
    width: 440px;
    height: 400px;
  }
  .taille-article-big {
    height: 900px;
  }
  .padding-bot-40-tab {
    padding-bottom: 40px;
  }
  table {
    margin-left: 0px;
  }
  .padding-top-20 {
    padding-top: 0px;
  }
  a.button-default {
    font-size: 13px;
  }
  a.button-default:before {
    width: 98%;
  }
  h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 667px) {
  h2 {
    font-size: 31px;
  }
  .taille-article-big {
    height: 550px;
  }
}
